*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  line-height: 1.4;
  font-family: "Nunito Sans", sans-serif;
  color: hsl(200, 15%, 8%);
  background: hsl(0, 0%, 98%);
}

img {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1 {
  font-weight: 800;
}

p {
  font-weight: 300;
}
